USE [QLSINHVIEN]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 6/15/2024 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [nvarchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 6/15/2024 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 6/15/2024 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/15/2024 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[LUONG] [varbinary](max) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](max) NOT NULL,
	[PUBKEY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/15/2024 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'2033220314', N'MHUD', 0x7B00A1F502352EB52E9724D7A37C2D4197A90D20D0A56ABA3904207FD9DCA8F02CCB63B8700CD0EBCDACD0362D3CC13DE906E1FE9272ABF7C97CD6535E912249)
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'2033220316', N'BMMT', 0xC0B1503B563AF74130F45FCCE87D9DFAC9A7215DDE5DED0681DBA9942C77D8D11240EE7BE1F097F7ADC83D4ED255F229746160298A53EFC7EF493D6935527042)
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'2033220319', N'MHUD', 0x4F2AB35BBB8182817869AD4923714655CDE8E3FA2F160D94579B6DF03A01A97F4725A68D10FBBEB9A8E40F2666358D7CFF61E42B9BC2E973D1203BDB5ECB6399)
GO
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'BMMT', N'bmmt', 3)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'MHUD', N'mhud', 3)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L01', N'BMMT', N'nv02')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L02', N'BM12', N'nv03')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'L04', N'MHUD', N'nv04')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'nv02', N'bao', N'bao@mail.com', 0x7ADB475A344C7290B8ABA16701326CBCADAEE54B0D32914549D0734D4F5AD38E859574A039EB874FD9CC5A0407FD71ACD0217498FD74320C20DBEE22ACB1B1E0, N'milo2', N'356a192b7913b04c54574d18c28d46e6395428ab', N'nv02')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'nv03', N'bao', N'bao@mail.com', 0x49DEADA43C3106A9C3188909187FB0E9A2BD9D5B521CD9B8E5F7BB98280EFB48B6853E6B382C556CF980BC37C533F34E5DE35724C955F063CECBD1C86D07B79E, N'milo3', N'356a192b7913b04c54574d18c28d46e6395428ab', N'nv03')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'nv04', N'bao', N'bao@mail.com', 0x7C19D12100066E7DC7CAC9B790B48CC27C60B82204FF855D02E2C103779EEFB37ADE3F45A198D79F10BBED370BD8B1AF531BE7D8BFEBA8C417BE4818CB677102, N'milo4', N'356a192b7913b04c54574d18c28d46e6395428ab', N'nv04')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'2033220311', N'bao3333', CAST(N'2004-12-01T00:00:00.000' AS DateTime), N'ssssaaaa', N'L01', N'milo3kkkkk', N'356a192b7913b04c54574d18c28d46e6395428ab')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'2033220314', N'bao11', CAST(N'2004-12-01T00:00:00.000' AS DateTime), N'ssssaaaa', N'L01', N'milok123', N'356a192b7913b04c54574d18c28d46e6395428ab')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'2033220316', N'bao22', CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'ssssaaaa', N'L01', N'milo2kk', N'356a192b7913b04c54574d18c28d46e6395428ab')
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_DIEM]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEL_DIEM]
(
    @MASV NVARCHAR(20),
    @MAHP VARCHAR(20)
)
AS
BEGIN
    DELETE FROM BANGDIEM
    WHERE MASV = @MASV
    AND MAHP = @MAHP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_LOP]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEL_LOP] 
    @MALOP VARCHAR(20)
AS
BEGIN
    DELETE FROM LOP
    WHERE MALOP = @MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_NHANVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEL_NHANVIEN]
(
    @MANV VARCHAR(20)
)
AS
BEGIN
    DELETE FROM NHANVIEN
    WHERE MANV = @MANV;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL_SINHVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEL_SINHVIEN]
(
    @MASV NVARCHAR(20)
)
AS
BEGIN
    DELETE FROM SINHVIEN
    WHERE MASV = @MASV;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_DIEM]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_DIEM]
(
	@TK VARCHAR(20),
	@MASV NVARCHAR(20),
	@MAHP VARCHAR(20),
	@DIEMTHI VARBINARY(max)
)
AS
BEGIN
	DECLARE @Manv VARCHAR(20);
	SELECT @Manv = MANV 
	FROM NHANVIEN 
	WHERE TENDN = @TK;

	INSERT INTO BANGDIEM (MASV, MAHP, DIEMTHI)
	VALUES (@MASV, @MAHP, @DIEMTHI);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_LOP]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INS_LOP] 
    @MALOP VARCHAR(20),
    @TENLOP NVARCHAR(100),
    @MANV VARCHAR(20)
AS
BEGIN
    INSERT INTO LOP (MALOP, TENLOP, MANV)
    VALUES (@MALOP, @TENLOP, @MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_NHANVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_INS_NHANVIEN]
(
	@MANV varchar(20),
	@HOTEN nvarchar(100),
	@EMAIL varchar(20),
	@LUONG VARBINARY(max),
	@TENDN nvarchar(100),
	@MATKHAU nvarchar(MAX),
	@PUBKEY VARCHAR(20)

)
As
	Begin
		INSERT INTO NHANVIEN (MANV, HOTEN, EMAIL, LUONG, TENDN, MATKHAU, PUBKEY)
		VALUES (@MANV, @HOTEN, @EMAIL, @LUONG, @TENDN, @MATKHAU, @PUBKEY);
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_SINHVIEN]
(
	@MASV NVARCHAR(20),
	@HOTEN NVARCHAR(100),
	@NGAYSINH DATETIME,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR(20),
	@TENDN NVARCHAR(100),
	@MATKHAU VARCHAR(MAX)
)
As
	BEGIN
		
		INSERT INTO SINHVIEN
		VALUES (@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MATKHAU)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOG_IN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LOG_IN]
(
	@TENDN nvarchar(100),
	@MATKHAU nvarchar(MAX)
)
As
	Begin
		
		DECLARE @COUNT INT;
		SET @COUNT = (SELECT COUNT(*) FROM NHANVIEN WHERE TENDN = @TENDN and MATKHAU = @MATKHAU)
		if @COUNT = 1
			BEGIN SELECT COUNT(*) FROM NHANVIEN WHERE TENDN = @TENDN and MATKHAU = @MATKHAU RETURN END
		ELSE
			BEGIN SELECT COUNT(*) FROM SINHVIEN WHERE TENDN = @TENDN and MATKHAU = @MATKHAU END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_BANGDIEM]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SEL_BANGDIEM]
(
	@TK VARCHAR(20)
)
AS
	BEGIN
		DECLARE @Manv VARCHAR(20);
		SELECT @Manv = MANV 
		FROM NHANVIEN 
		WHERE TENDN = @TK;
		SELECT bd.MASV,MAHP,DIEMTHI
		FROM BANGDIEM bd
		JOIN SINHVIEN sv ON bd.MASV = sv.MASV
		JOIN LOP l ON sv.MALOP = l.MALOP
		WHERE l.MANV = @MANV;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_SINHVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_SINHVIEN]
    @TENDN VARCHAR(20)
AS
BEGIN
    DECLARE @Manv VARCHAR(20);

    -- Retrieve MANV based on TENDN and assign it to @Manv
    SELECT @Manv = MANV 
    FROM NHANVIEN 
    WHERE TENDN = @TENDN;

    -- Retrieve student details based on the MANV of the staff member
    SELECT 
        SINHVIEN.MASV,
        SINHVIEN.HOTEN,
        SINHVIEN.NGAYSINH,
        SINHVIEN.DIACHI,
        SINHVIEN.MALOP,
        SINHVIEN.TENDN,
        SINHVIEN.MATKHAU
    FROM 
        SINHVIEN
    JOIN 
        LOP ON SINHVIEN.MALOP = LOP.MALOP
    JOIN 
        NHANVIEN ON LOP.MANV = NHANVIEN.MANV
    WHERE 
        LOP.MANV = @Manv;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_BANGDIEM]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_UPD_BANGDIEM]
(
    @TK VARCHAR(20),
    @MASV NVARCHAR(20),
    @MAHP VARCHAR(20),
    @DIEMTHI VARBINARY(MAX) -- Change from FLOAT to VARBINARY(MAX)
)
AS
BEGIN
    -- Declare variables
    DECLARE @Manv VARCHAR(20);
    DECLARE @Malop VARCHAR(20);

    -- Get the employee ID based on the username
    SELECT @Manv = MANV 
    FROM NHANVIEN 
    WHERE TENDN = @TK;

    -- Check if the employee manages the class of the student
    SELECT @Malop = SINHVIEN.MALOP
    FROM SINHVIEN
    INNER JOIN LOP ON SINHVIEN.MALOP = LOP.MALOP
    WHERE SINHVIEN.MASV = @MASV AND LOP.MANV = @Manv;

    -- If the employee manages the class, update the grade
    IF @Malop IS NOT NULL
    BEGIN
        UPDATE BANGDIEM
        SET DIEMTHI = @DIEMTHI
        WHERE MASV = @MASV AND MAHP = @MAHP;
    END
    ELSE
    BEGIN
        -- If the employee does not manage the class, raise an error
        RAISERROR (N'Sinh viên không thuộc quyền quản lý', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_DIEM]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPD_DIEM]
(
    @MASV NVARCHAR(20),
    @MAHP VARCHAR(20),
    @DIEMTHI VARBINARY(MAX)
)
AS
BEGIN
    UPDATE BANGDIEM
    SET DIEMTHI = @DIEMTHI
    WHERE MASV = @MASV
    AND MAHP = @MAHP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_LOP]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPD_LOP] 
    @MALOP VARCHAR(20),
    @TENLOP NVARCHAR(100),
    @MANV VARCHAR(20)
AS
BEGIN
    UPDATE LOP
    SET TENLOP = @TENLOP,
        MANV = @MANV
    WHERE MALOP = @MALOP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_NHANVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPD_NHANVIEN]
(
    @MANV VARCHAR(20),
    @HOTEN NVARCHAR(100),
    @EMAIL VARCHAR(100),
    @LUONG VARBINARY(MAX)
)
AS
BEGIN
    IF @LUONG=''
    BEGIN
		UPDATE NHANVIEN
        SET HOTEN = @HOTEN,
            EMAIL = @EMAIL
        WHERE MANV = @MANV;
        
    END
    ELSE
    BEGIN
        UPDATE NHANVIEN
        SET HOTEN = @HOTEN,
            EMAIL = @EMAIL,
            LUONG = @LUONG
        WHERE MANV = @MANV;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPD_SINHVIEN]    Script Date: 6/15/2024 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPD_SINHVIEN]
(
    @TK VARCHAR(20),
    @MASV NVARCHAR(20),
    @HOTEN NVARCHAR(50) = NULL,
    @NGAYSINH DATETIME = NULL,
    @DIACHI NVARCHAR(100) = NULL
)
AS
BEGIN
    -- Declare variables
    DECLARE @Manv VARCHAR(20);
    DECLARE @Malop VARCHAR(20);

    -- Get the employee ID based on the username
    SELECT @Manv = MANV 
    FROM NHANVIEN 
    WHERE TENDN = @TK;

    -- Check if the employee manages the class of the student
    SELECT @Malop = SINHVIEN.MALOP
    FROM SINHVIEN
    INNER JOIN LOP ON SINHVIEN.MALOP = LOP.MALOP
    WHERE SINHVIEN.MASV = @MASV AND LOP.MANV = @Manv;

    -- If the employee manages the class, update the student information
    IF @Malop IS NOT NULL
    BEGIN
        UPDATE SINHVIEN
        SET HOTEN = COALESCE(@HOTEN, HOTEN),
            NGAYSINH = COALESCE(@NGAYSINH, NGAYSINH),
            DIACHI = COALESCE(@DIACHI, DIACHI)
        WHERE MASV = @MASV;
    END
    ELSE
    BEGIN
        -- If the employee does not manage the class, raise an error
        RAISERROR (N'Sinh viên không thuộc quyền quản lý', 16, 1);
    END
END
GO
